@CHARSET "UTF-8";

/*
colors:
	background: White;
	text: #1c2841;
	hover: #1c2841;
*/

body, h1, h2, h3, h4, h5, h6, p, ul, dl, ol, form, fieldset, input, label, table, tbody, tfoot, th, tr, td, textarea, select {
	font-family: "Lato", "sans serif";
	font-weight: normal;
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 12px;
	/*overflow: hidden;*/
}			

html {
	height: 100%
	}
	
.header {
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height:50px;
	background: #830A48;
	margin: 0;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
	font-size: 24px;
	text-align: left;
	line-height: 50px;
	padding-left: 20px;
	z-index: 99;
}
.footer {
	position: fixed;
	color: #993669;
	bottom: 0;
	left:0;
	height:60px;
	margin: 0;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-align: left;
	line-height: 30px;
	padding-left: 20px;
}
.footer-icons {
	font-size: 24px;
}
.footer-icons a {
	color: #993669;
}
.footer-icons a:visited {
	color: #993669;
}

.content {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	height: calc(100% - 50px);
	background-color: White;
	margin: 0;
	padding-left: 0;
	overflow: none;
}
.nav {
	position: fixed;
	left: 0;
	width: 250px;
	height: calc(100% - 110px);
	padding-top: 20px;
	background-color: White;
}
.navbtn {
	width: 240px;
	color: #1c2841;
	background-color: White;
	font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: left;
    padding: 5px 10px 5px 10px;
    border: none;
    cursor: pointer;
	outline: none;
	margin-left: 10px;	
	transition: 0.2s;
}
.navbtn:hover, navbtn:active {
	background-color: #1c2841;
	color: White;
}
.navpanel {
	background-color: White;
	color: #1c2841;
	padding-left: 10px;
    max-height: 0;
	height: calc(100% - 80px);
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.navpanel-open {
	background-color: White;
	color: #1c2841;
	padding-left: 10px;
	height: calc(100% - 80px);
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.navitem {
	width: 240px;
	color: #1c2841;
	/*color: black;*/
	background-color: White;
	font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
	font-weight: 400;
	/*text-transform: uppercase;*/
	text-align: left;
    padding: 5px 10px 5px 20px;
    border: none;
    cursor: pointer;
	outline: none;
	transition: 0.2s;
	/*margin-left: 30px;*/
	/*text-indent: -30px;*/
	}
.navitem a, a:visited { color: #1c2841;}
.navitem:hover { 
	background-color: #1c2841;
	color: #FCFFD9;
}

.report {
	position: fixed;
	left: 250px;
	height: calc(100% - 50px);
	padding: 0;	
	width: calc(100% - 250px);
}
.reportname {
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 600;
	font-size: 24px;
	border-left-style: solid;
	border-left-width: 2px;
	border-color: White;
	color: #FCFFD9;
	padding-left: 20px;
	margin-left: 10px;
	padding-right:20px;
	/*text-transform: uppercase;*/
	/*display: none;*/
	}
.atlas {
	font-weight: 400;
	text-transform: uppercase;
	color: White;
}
.atlas a:link {
	color: White;
}
.atlas a:visited {
	color: White;
}
a {
	text-decoration: none;
	color: White;
}
a:visited {
	color: White;
}

p {
	font-size: 12px;
}
iframe {
	border: none;
	height: 100%;
	width: 100%;
}
img {
	vertical-align: middle;
	padding-bottom: 10px;
	padding-right: 10px;
}
.navicon {
	font-size: 24px;
	font-weight: 400;
	color: #FCFFD9;
	padding-left: 5px;
	padding-bottom: 15px;
	display: none;
}
.navicon a:link {
	color:#FCFFD9;
}
.navicon a:visited {
	color:#FCFFD9;
}

.welcome {
	font-family: 'Lato', serif;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	color: black;
	height: 100%;
}
.welcome-text {
	font-family: 'Lato', serif;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	color: black;
	height: 100%;
	max-width: 800px;
}
.welcome-text a {
	color: #993669;
	border-bottom: 1px dotted;
}
.welcome-text li {
	padding-bottom: 5px;
	font-size: 14px;	
}
.welcome-text-li {
	color: #993669;
	font-size: 14px;
}
.welcome-table {
	display: table;
	padding-top: 10px;
	padding-left: 40px;
}
.welcome-table-row {
	display: table-row;
	height: 30px;
}
.welcome-table-cell
{
	display: table-cell;
}
.welcome-table-icon
{
	display: table-cell;
	width: 50px;
	font-family: 'Lato', serif;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	color: #830A48;
}
.welcome-table-text
{
	display: table-cell;
	font-family: 'Lato', serif;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	color: Black;
}
.welcome-credit {
	font-family: 'Lato', serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	text-align: left;
	padding-top: 100px;
	padding-left: 20px;
	color: Black;
	height: 100%;
	max-width: 800px;
}
.welcome h3 {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 18px;
	font-weight: 600;
	/*text-transform: uppercase;*/
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 10px;
	color: #830A48;
	max-width: 800px;
}
.welcome h2 {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 10px;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 10px;
	color: #830A48;
	max-width: 800px;
}
.welcome h1 {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 36px;
	font-weight: 600;
	text-transform: uppercase;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 10px;
	color: #830A48;
	max-width: 800px;
	/*text-shadow: 2px 2px 0px white, 4px 4px 0px #f2d0a4;*/
}
.atlas-set{
	border: 2px solid;
	border-radius: 10px;
	border-color: #830A48;
	margin-left: 30px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	padding-left: 5px;
	max-width: 800px;

}
.alert {
	background-color: #FCFFD9;	
}
